<p>Porfavor Inicie Session</p>

<form ua-login>
	<input name="login" placeholder="Username"><br>
	<input name="password" placeholder="Password" type="password"><br>
	<p><button type="submit">Inicar Session</button> o <a href="" ua-oauth-link="google">Inicia Session con tu cuenta de Google</a></p>
	
	<p ng-show="loading"><img src="https://app.userapp.io/img/ajax-loader-transparent.gif"></p>
	<p ng-show="error">{{ error.message }}</p>
</form>

<p><a href="#/signup">Registrarte</a></p>
<p><a href="#/reset-password">Recuperar tu contraseña</a></p>