<p>Sign up</p>

<form ua-signup ng-show="!verificationEmailSent">
	<input name="first_name" placeholder="Your name"><br>
	<input name="login" ua-is-email placeholder="Email"><br>
	<input name="password" placeholder="Password" type="password"><br>
	<p><button type="submit">Crea una cuenta</button> or <a href="" ua-oauth-link="google">Inicia con tu cuenta de Google</a></p>
	
	<p ng-show="loading"><img src="https://app.userapp.io/img/ajax-loader-transparent.gif"></p>
	<p ng-show="error">{{ error.message }}</p>
</form>

<p ng-show="verificationEmailSent">Un correo electronico ha sido enviado. Haz clic en el link para verificar tu cuenta.</p>
<p><a href="#/login">Iniciar Session</a></p>